<!DOCTYPE html>
<html>
<head>
    <title>Game!</title>
    <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <h2> Please input to generate madlib! </h2>
    <form action="/madlib">
        <p> Person: <input type = "text" name = "person"><br>
        Color: <input type = "text" name = "color"><br>
        Noun: <input type = "text" name = "noun"><br>
        Adjective: <input type = "text" name = "adjective"><br>
        Adjective: <input type = "text" name = "adjective2">
        <input type="submit">
        </p>
    </form>

</body>
</html>